.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"],
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {
	display: none !important;
}





.fl-node-5e7c8963657c6 .fl-bg-video-audio {
	display: none;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 5;
	width: 20px;
}
.fl-node-5e7c8963657c6 .fl-bg-video-audio .fl-audio-control {
	font-size: 20px;
}
.fl-node-5e7c8963657c6 .fl-bg-video-audio .fa-times {
	font-size: 10px;
	vertical-align: middle;
	position: absolute;
	top: 5px;
	left: 11px;
	bottom: 0;
}

.fl-node-5e7c8963657c6.fl-row-fixed-width, .fl-node-5e7c8963657c6 .fl-row-fixed-width {
	max-width: 1100px;
}
@media(max-width: 992px) {
}
@media(max-width: 768px) {
}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"],
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {
	display: none !important;
}





.fl-node-5e7b688e227f6 .fl-bg-video-audio {
	display: none;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 5;
	width: 20px;
}
.fl-node-5e7b688e227f6 .fl-bg-video-audio .fl-audio-control {
	font-size: 20px;
}
.fl-node-5e7b688e227f6 .fl-bg-video-audio .fa-times {
	font-size: 10px;
	vertical-align: middle;
	position: absolute;
	top: 5px;
	left: 11px;
	bottom: 0;
}

@media(max-width: 992px) {
}
@media(max-width: 768px) {
}




.fl-node-5e7c89636a8a1 {
	width: 100%;
}
@media(max-width: 992px) {
}
@media(max-width: 768px) {
}




.fl-node-5e7b688e24110 {
	width: 100%;
}
@media(max-width: 992px) {
}
@media(max-width: 768px) {
}

/* Start Global Nodes CSS */

/* End Global Nodes CSS */


/* Start Layout CSS */

/* End Layout CSS */

