# ignore everything in the root except the "wp-content" directory.
!wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

# ignore these plugins
wp-content/plugins/hello.php

# ignore specific themes
wp-content/themes/twenty*/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite

#------------------------
#  Main ignored items
#------------------------

/../wp-config.php
/wp-config.php
.maintenance
versionpress.maintenance
/.htaccess
/web.config

/wp-content/*
!/wp-content/db.php
!/wp-content/index.php
!/wp-content/plugins/
/wp-content/plugins/versionpress/
!/wp-content/mu-plugins/
!/wp-content/themes/
!/wp-content/languages/
!/wp-content/uploads/
!/wp-content/vpdb/


#------------------------
#  Log files
#------------------------

*.log
error_log
access_log


#------------------------
#  OS Files
#------------------------

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
*[Tt]humbs.db
*.Trashes
